ion-header,ion-content{
    --ion-background-color: #121416;
}
ion-header ion-toolbar ion-title {
    text-align: center;
    font-size: 25px;
    color: #B388FF;
}

ion-header ion-toolbar ion-buttons {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 32px;
    --background: transparent;
    color: white;
}

#comment {
    padding: 15px 15px;
}

ion-col {
    padding: 2px;
}

.faded {
    color: #757575;
}

#myPostsTitle {
    margin-bottom: 10px;
}

#myPostsTitle ion-text {
    font-weight: bold;
    font-size: 1.2em;
}

.eachPost {
    background-color: #444348;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.commentPost {
    background-color: transparent;
    border: 2px solid #444348;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.postProfile {
    margin-bottom: 5px;
}

.postProfileImg {
    padding-right: 10px;
}

.postProfileImg ion-avatar {
    width: 100%;
    height: 100%;
}

.postProfileName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.postTexts ion-img::part(image) {
    margin-top: 10px;
}

.postTexts ion-text {
    font-size: 1.1rem;
}

#myComment {
    color: white;
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

#myComment ion-input {
    border: 2px solid #444348;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1.1rem;
}

#myComment ion-button {
    --background: #B388FF;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    --border-radius: 50px;
}

#myComment ion-button ion-icon {
    font-size: 2em;
}
